/* HEADER REDUCED */
.reduced {
	background: $bgmenu;
	display: none;
	height: 52px;
	left: 0;
	top: 0;
	padding: 8px 0 0 20px;
	position: fixed;
	width: 100%;
	z-index: 999;

	a.logo-governo-pr{
			overflow: hidden;
			display: inline-block;
			float: left;
			img{
				float: left;
				height: 36px;
				&.color{
					display: none;
				}
				&.white{
					display: block;
				}
			}
			span{
				border-left: 1px solid #60777a;
				color: #fff;
				display: block;
				float: left;
				font-family: $proxima;
				font-size: 13px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 14px;
				margin: 3px 0 0 20px;
				padding:  0 0 0 20px;
				text-transform: uppercase;
				transition: all 0.5s ease-in-out;
			}
			&:hover{
				span{
					color: $default;
				}
			}
		}

		.title {
			color: #fff;
			display: inline-block;
			font-size: 14px;
			line-height: 36px;
			margin: 0 0 0 35px;

		}

		.to-top {
			background: $blue;
			color: #fff;
			display: inline-block;
			float: right;
			font-size: 18px;
			height: 52px;
			margin: -8px 0 0;
			padding: 16px 0 0;
			text-align: center;
			width: 36px;
		}

		nav {
			display: inline-block;
			float: right;
			margin: -8px 8px 0 0;

			button {
				background: none;
				border: none;
				color: #a0b2b4;
				font-size: 18px;
				height: 52px;
				width: 36px;

				&:hover {
					color: #fff;
				}
			}

			.dropdown-menu {
				left: auto;
				padding: 20px;
				right: -10px;
				width: 340px;

				dl {
						margin: 0 0 20px;

					dt {

						font-family: $oswald;
						font-size: 13px;
						margin: 0 0 20px;
						text-transform: uppercase;
					}
					dd {
						.share-inner {

							&:after {
								content: " ";
								display: table;
								clear: both;
							}
							a {
								display: inline-block;
								float: left;
								height: 36px;
								margin: 0 0 10px;
								width: 50%;

								i {
									border-radius: 50%;
									color: #fff;
									display: inline-block;
									float: left;
									font-size: 18px;
									height: 36px;
									margin: 0 10px 0 0;
									padding: 9px 0 0;
									text-align: center;
									width: 36px;

									&.fa-facebook{
											background-color: #3367a1;
									}
									&.fa-twitter{
										background-color: #00aeef;
									}
									&.fa-google-plus{
										background-color: #e15440;
									}
									&.fa-linkedin{
										background-color: #0077b5;
									}
									&.fa-envelope{
										background-color: #b3b3b3;
									}
								}

								span {
									color: $default;
									display: inline-block;
									font-size: 13px;
									line-height: 36px;
								}

								&:hover span {
									color: $blue;
								}
							}
						}

					}
				}

				.btn.green {
					width: 100%;
				}
				.actions {
					li {
						display: inline-block;
						float: left;
						width: 50%;
					}
				}

			}


		}

		.share {
			display: inline-block;
			float: right;
			margin: 0;

			a {
				margin: 0 8px 0 0;

				span {
					float: left;
				}
			}
		}

}

/* Widget Últimas noticias */
.widget-ultimas-noticias {
	dt {
		color: $blue;
		font-size: 17px;
		font-weight: bold;
		margin: 0 0 15px;
		text-transform: uppercase;
	}

	.noticias-list-text {

		li:first-child {

			a {
				img {
					display: inline-block;
					float: left;
					margin: 0 15px 20px 0;
				}

				span {
					display: block;
				}

			}

			&:after {
				content: " ";
				display: table;
				clear: both;
			}


		}
	}
}

/* Tooltip */
.tooltip .tooltip-inner {
	border: solid 1px #adadad;
	background-color: #fff;
	color: $default;
	padding: 12px 15px;
}
.tooltip .tooltip-arrow {
	display: none;
}

/* Inner */
.inner {

	article {

		padding: 30px 0 0;

		audio {
			margin: 0 0 30px;
			width: 100%;
		}

		p {
			font-size: 17px;
			line-height: 27px;
			margin: 0 0 36px;

			&.primeiro:first-letter {
				font-size: 52px;
				float: left;
				font-weight: bold;
				margin: 15px 12px 0 0;
			}

			a {
				color: $green-1;
				display: inline-block;
				font-style: italic;
				position: relative;
				&:before{
					background: #e7e8e1;
					bottom: 2px;
					display: block;
					height: 3px;
					left: 0;
					position: absolute;
					width: 100%;
					content: " ";
					transition: all 0.3s ease-in-out;
				}
				&:hover {
					color: $blue;
					&:before{
						width: 0;
					}
				}
			}
		}

		blockquote {

			border: none;
			display: inline-block;
			float: right;
			width: 360px;
			padding: 60px 0 0;
			position: relative;
			margin-right: -20%;

			&:after {
				color: $green-1;
				content: " “ ";
				font-family: $proxima;
				font-size: 80px;
				left: 30px;
				position: absolute;
				top: 0;
			}

			p {
				color: $green-1;
				font-family: $oswald;
				font-size: 27px;
				line-height: 33px;
				text-align: right;

				strong, span {

					color: #595959;
					display: block;
					font-family: $proxima;
					line-height: 20px;
					font-size: 13px;
					padding: 10px 0 0;
				}
				span {
					font-size: 12px;
					padding: 0;
				}
			}

		}

		@media (max-width: 768px) {
			blockquote {
				margin-right: 0;
			}
		}

		@media (max-width: 480px) {
			blockquote {
				display: block;
				float: none;
				width: 100%;
			}
		}

		h3 {
			font-weight: bold;
			text-transform: uppercase;
		}

		figure {
			display: block;
			float: none;
			height: auto;
			margin: 0 -30px 35px;
			img {
				height: auto;
				width: 100%;
			}
			figcaption {
				border-bottom: dotted 1px #959595;
				font-size: 13px;
				font-style: italic;
				padding: 15px 0;
				opacity: 0.6;
			}
		}

		@media (max-width: 768px) {
			figure {
				margin: 0 -15px 35px;

				figcaption {
					padding: 15px;
				}
			}
		}


	}

	@media (max-width: 768px) {

		article {
			border-top: solid 1px #e5e5e5;
		}
	}

	.noticias-with-blue {

		.destaques-hoje-title{
			color: #dbdbdb;
			font-size: 52px;
			font-weight: bold;
			line-height: 52px;
			position: absolute;
			top: -102px;
		}

		@media (max-width: 480px) {
			.destaques-hoje-title{
				font-size: 30px;
				line-height: 30px;
				top: -84px;
			}
		}
	}
}

/* actions */
.actions {

	list-style: none;
	margin: 0 0 30px;
	padding: 0;

	li{
		margin: 0 0 10px;

		a {
			color: #8c8c8c;
			font-size: 13px;
			line-height: 18px;

			i {
				font-size: 18px;
				margin: 0 6px 0 0;
			}
			&:hover {
				color: $blue;
			}
		}
	}

	@media (max-width: 768px) {
		li {
			display: inline-block;
			float: left;
			width: 50%;
		}
	}
}

.archive {
	padding-top: 70px;

	aside {

		padding-top: 100px;

		.filters {
			list-style: none;
			margin: 0 0 40px;
			padding: 0;

			li {
				border: solid 1px $blue;
				border-radius: 17px;
				color: $blue;
				height: 34px;
				line-height: 28px;
				padding: 2px 2px 2px 20px;
				margin: 0 0 4px;

				a {

					background: $blue;
					border-radius: 14px;
					color: #fff;
					float: right;
					list-style: 28px;
					height: 28px;
					padding: 6px 0 0;
					text-align: center;
					width: 28px;

				}
			}
		}

		.content-type {

			margin: 0 0 30px;

			dt {
				font-size: 13px;
				margin-bottom: 15px;
				text-transform: uppercase;
			}
			dd {

				ul {
					border: solid 1px #d4d4d4;
					border-radius: 2px;
					list-style: none;
					margin: 0;
					padding: 0;

					li {

						border-top: solid 1px #d4d4d4;

						a {
							color: #d4d4d4;
							display: block;
							font-size: 16px;
							line-height: 18px;
							padding: 15px 25px;

							i {
								font-size: 18px;
								margin: 0 10px 0 0;
							}

							span {
								color: $blue;
								float: right;
								font-size: 13px;
							}

							&:hover{
								background: $blue;
								color: #fff;

								span {
									color: #fff;
								}
							}
						}

						&:first-child {
							border: none;
						}
					}
				}

				.select {
					dt {
						a {
							background: #ebeddf;
							border: solid 1px #dfe2c9;
							border-radius: 2px;
							color: $default;
							display: block;
							font-size: 15px;
							font-weight: normal;
							line-height: 36px;
							text-transform: none;
							padding: 0 0 0 20px;

							i {
								border-left: solid 1px #dfe2c9;
								float: right;
								height: 36px;
								padding-top: 10px;
								text-align: center;
								width: 36px;

							}
						}
					}
				}
			}
		}

		.editorias {
			border-bottom: solid 1px #d4d4d4;
			list-style: none;
			margin: 0 0 40px;
			padding: 0;

			li {

				border-top: solid 1px #d4d4d4;

				a {
					color: $default;
					display: block;
					font-size: 16px;
					font-weight: bold;
					line-height: 18px;
					padding: 15px 25px 15px 0;
					text-transform: uppercase;

					i {
						color: $blue;
						margin: 0 10px 0 0;
					}

					&:hover {
						color: $blue;
					}
				}
			}
		}

		.historic-news {
			a {
				color: $green-1;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	.results {
		border-bottom: solid 1px #e9e9e9;
		color: #cbcfd0;
		display: block;
		line-height: 22px;
		font-size: 22px;
		margin: 0 0 40px;
		padding: 50px 0 20px;

		.recents {
			color: $default;
			float: right;
			font-size: 15px;
			font-weight: bold;

			.switch {
				position: relative;
				display: inline-block;
				float: right;
				margin: 2px 0 0 10px;
				width: 40px;
				height: 16px;
			}

			.switch input {
				display: none;
			}

			.slider {
				border-radius: 34px;
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ebeddf;
				border: solid 1px #dfe2c9;
				-webkit-transition: .4s;
				transition: .4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 24px;
				width: 24px;
				left: -1px;
				bottom: -4px;
				-webkit-transition: .4s;
				transition: .4s;
				background: #dfe2c9;
				border-radius: 50%;
			}

			input:checked + .slider:before {
				background-color: $blue;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px $blue;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(16px);
				-ms-transform: translateX(16px);
				transform: translateX(16px);
			}

			&:after {
				display: table;
				content: " ";
				clear: both;
			}
		}
	}

	.results-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {

			.audio-item {
				border-radius: 3px;
				border: solid 1px #cbcbcb;
				display: block;
				position: relative;

				span {
					color: $blue;
					display: inline-block;
					font-size: 24px;
					right: 10px;
					text-align: center;
					position: absolute;
					text-align: center;
					top: 10px;
					z-index: 10;

					small {
						color: $default;
						display: block;
						font-size: 12px;
						line-height: 12px;
						margin: -5px 0 0;
					}
				}
			}

			.video-item {
				display: block;
				position: relative;

				span {
					background: rgba(0,175,240,.5);
					border: solid 2px #6ac0e1;
					border-radius: 8px;
					color: #fff;
					display: block;
					height: 50px;
					left: 50%;
					margin: -25px 0 0 -25px;
					position: absolute;
					text-align: center;
					top: 50%;
					z-index: 10;
					width: 50px;
					i {
						padding: 10px 0 0 2px;
						font-size: 24px;
					}

				}
			}

			.gallery-item {

				display: block;
				position: relative;

				&:before {
					background: #bfdfea;
					border: solid 2px #dedede;
					content: " ";
					display: table;
					left: 8px;
					position: absolute;
					top: -10px;
					height: 100px;
					width: calc( 100% - 5px ) ;
					transform: rotate(4deg);


				}

				&:after {
					background: #bfdfea;
					border: solid 2px #dedede;
					content: " ";
					display: table;
					left: -8px;
					position: absolute;
					top: 10px;
					height: 100px;
					width: calc( 100% - 5px ) ;
					transform: rotate(-8deg);


				}

				img {
					border: solid 2px #dedede;
					position: relative;
					z-index: 10;

				}

				span {
					background: #fff;
					border: solid 1px #d4d4d4;
					border-radius: 15px;
					height: 30px;
					color: #435354;
					display: inline-block;
					font-size: 12px;
					line-height: 30px;
					right: 10px;
					text-align: center;
					padding: 0 15px;
					position: absolute;
					text-align: center;
					top: -15px;
					z-index: 11;

					i {
						color: $blue;
						font-size: 20px;
						line-height: 24px;
						float: left;
						margin-right: 5px;
					}
				}
			}

			margin: 0 0 40px;
			padding: 0 0 40px;
			border-bottom: solid 1px #ebeceb;

			h4 {
				color: $blue;
				font-size: 12px;
				margin: 0 0 10px;
				text-transform: uppercase;
			}

			h3 {
				font-size: 21px;
				font-weight: bold;
				line-height: 20px;
				margin: 0 0 10px;

				a {
					color: $default;
				}
			}

			p {
				font-size: 13px;
				line-height: 18px;
				margin: 0;

				i {
					color: $blue;
				}
			}

			time {
				color: #a6a6a6;
				display: block;
				font-size: 11px;
				margin: 10px 0 0;
			}
		}
	}

	.pagination {


		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: left;

			li {
				display: inline-block;
				float: left;
				margin: 0 6px 0 0;

				a {
					background: #ebeddf;
					border: solid 1px #dfe2c9;
					border-radius: 2px;
					color: $default;
					display: block;
					font-size: 14px;
					line-height: 36px;
					min-width: 36px;
					padding: 0 12px;
					text-align: center;

					&:hover,
					&.current {
						background: $blue;
						border-color: $blue;
						color: #fff;
					}

				}

				span {
					color: #d5d5d5;
					display: block;
					font-size: 36px;
					line-height: 24px;
					padding: 0 6px;
				}

			}
		}

		.prev-next {
			color: $blue;
			display: inline-block;
			float: left;
			line-height: 36px;
			margin: 0 40px;

			i {
				margin: 0 5px;
			}
		}
	}


}


.sua-regiao.home-section-city {
	.home-section-city-highlight {
		img {
			border: none;
		}
	}
}

/* Btn Green */
.btn.green {
	border: solid 1px $green-2;
	color: $green-1;
	clear: both;
	margin-bottom: 30px;

	&:hover {
		background: $green-2;
		color: #fff;
	}
}
@media (max-width: 480px) {

	.btn.green {
		width: 100%;
	}
}
.newsletter {
	border-bottom: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
	margin: 0 0 45px;
	padding: 30px 0;

	p {
		background: url(../images/inner/icon-newsletter.gif) 0 center no-repeat;
		display: inline-block;
		margin: 0;
		min-height: 38px;
		padding: 0 0 0 120px;
		width: calc(100% - 250px)
	}

	form {
		border: solid 1px #e6e6e6;
		border-radius: 20px;
		display: inline-block;
		float: right;
		height: 40px;
		padding: 4px;

		input {
			border: none;
			border-radius: 15px;
			font-size: 14px;
			height: 30px;
			line-height: 30px;
			padding: 0 15px;
			width: 150px;
		}

		button {
			background: $blue;
			border: none;
			border-radius: 15px;
			color: #fff;
			height: 30px;
			line-height: 30px;
			text-transform: uppercase;
			width: 50px;

			&:hover {
				opacity: 0.6;
			}
		}
	}
}

@media (max-width: 480px) {
	.newsletter {
		p {
			display: block;
			margin: 0 0 20px;
			width: 100%;
		}
		form {
			display: block;
			float: none;
			width: 100%;
			input {
				width: calc(100% - 54px);
			}
		}
	}

}

/* Notícias */
.inner-news{

	.inner-news-header {

		&.with-image {
			overflow: hidden;
			position: relative;

			.photo-credits {
				background: rgba(0,0,0,0.8);
				border-radius: 3px;
				border: solid 2px #86858d;
				bottom: 15px;
				display: block;
				padding: 20px;
				position: absolute;
				right: 20px;

				img {
					display: inline-block;
					float: left;
					margin: 0 20px 0 0;
				}

				span {
					display: block;
					float: left;
					color: #fff;
					font-size: 11px;
					padding-top: 7px;
					a {
						color: #fff;
						display: block;
						text-transform: uppercase;

						&:hover {
							color: $blue;
						}
					}
				}
			}

			img.feature-image {
				height: auto;
				width: 100%;
				z-index: 1;
			}

			.container {
				h1 {
					bottom: 0;
					margin: 0 15px;
					max-width: 70%;
					position: absolute;

				}
			}
		}

		.container {
			position: relative;
			z-index: 2;
			h1 {
				background: rgba(255,255,255,0.9);
				border-left: solid 7px $blue;
				font-size: 56px;
				font-weight: bold;
				line-height: 62px;
				margin: 30px 15px 0;
				padding: 20px 0 20px 30px;
				position: relative;
			}
		}

		@media (max-width: 992px) {
			.container {
				h1 {
					max-width: 100%;
				}
			}
		}

		@media (max-width: 768px) {
			&.with-image {

				.photo-credits {
					display: none;
				}

				.container {
					h1 {
						position: relative;
					}
				}
			}

		}

		@media (max-width: 480px) {
			.container {
				h1 {
					font-size: 31px;
					line-height: 35px;
				}
			}
		}
	}

	aside {

		&.left {
			padding-left: 0;
		}

		margin: 0 0 50px;
		padding-left: 30px;
		position: relative;

		h2.subtitle2 {
			border-left: solid 7px $blue;
			color: $blue;
			font-size: 17px;
			font-weight: bold;
			line-height: 25px;
			padding: 30px 0 0 30px;
			margin: 0 0 40px -30px;
		}

		@media (max-width: 480px) {
			h2.subtitle2 {
				padding: 0 0 0 30px;
				margin: 0 0 40px;
			}
		}

		dl {

			margin: 0 0 20px;

			dt{
				color: $default;
				font-weight: normal;
				margin: 0 0 10px;
			}
			dd {

				margin: 0 0 15px;

				p {
					color: #8c8c8c;
					line-height: 12px;
					margin: 0;
					padding: 0;
				}

				ol {
					margin: 0;
					overflow: hidden;
					padding: 0;

					li {
						float: left;
						font-size: 11px;
						list-style: outside none none;
						margin: 0 7px 7px 0;
						padding: 0;

						a {
							border-radius: 3px;
							background: #ebeddf;
							color: $default;
							display: block;
							padding: 3px 8px;
						}
					}
				}
			}
		}

		.mais-noticias {
			bottom: -15px;
			margin: 0;
			padding: 0;
			position: absolute;
			li {
				border-radius: 3px;
				border: solid 1px #e1e4e8;
				list-style: none;
				margin: 0 0 15px;
				a {
					border-radius: 3px;
					color: $default;
					display: block;
					font-size: 14px;
					line-height: 17px;
					overflow: hidden;
					padding: 20px 20px 20px 40px;
					position: relative;
					i{
						color: $blue;
						margin-left: -20px;
						margin-right: 5px;
						position: relative;
						transition: all 0.3s ease-in-out;
					}
					span{
						position: relative;
					}
					&:before {
						background: #ebeddf;
						content: "";
						display: block;
						height: 100%;
						left: 0;
						position: absolute;
						top: 0;
						width: 4px;
						transition: all 0.3s ease-in-out;
					}
					&:hover {
						color: $default;
						i{
							color: $default;
						}
						&:before{
							width: 100%;
						}
					}
				}
			}
		}

		@media (max-width: 768px) {
			dl {
				display: inline-block;
				float: left;
				width: 50%;
			}

			.noticias-list-text {
				display: none;
			}

			.mais-noticias {
				display: none;
			}

			.share {
				display: none;
			}
		}
	}


	@media (max-width: 480px) {
		aside {
			padding: 0;
		}
	}

	.noticias-list-text {

		li:first-child {

			.item-news {

				.image {

					position: relative;
					background: #00aeef none repeat scroll 0 0;
					display: block;
					margin: 0 0 10px;
					overflow: hidden;
					padding: 0;
					position: relative;

					span {
						background: #00aeef none repeat scroll 0 0;
						bottom: 10px;
						color: #fff;
						display: inline-block;
						font-size: 10px;
						left: 10px;
						padding: 3px 5px;
						position: absolute;
						text-transform: uppercase;
						z-index: 1;
					}
					img {
						float: none;
						margin: 0;
						position: relative;

					}
					&:hover{
						img{
							opacity: 0.8;
							transform: scale(1.1);
						}
					}
				}
			}

		}

		li {
			p {
				i {
					color: $blue;
				}
			}
		}


	}
}

.page-videos {
	.videos-highlight {
		background: $default;
		margin: 0 0 40px;
		padding: 70px 0;

		h3 {
			border-left: solid 7px $blue;
			color: #fff;
			font-size: 19px;
			margin: 0 0 18px 15px;
			padding: 0 0 0 15px;
			text-transform: uppercase;
		}

		.video-show {
			video {
				height: auto;
				margin: 0 0 50px;
				width: 100%;
			}

			h1 {
				color: #fff;
				font-weight: bold;
				font-size: 31px;
				line-height: 32px;
				margin: 15px 0 25px;
			}
			.description {
				transition: all linear 0.3s;
				height: 100px;
				margin: 0 0 15px;
				overflow: hidden;
			}
			.description.showed {
				height: 100%;
			}
			.show-more {
				color: $blue;
				display: inline-block;
				margin: 0 0 40px;
				text-transform: uppercase;
				transition: all linear 0.3s;
			}
			p {
				color: #fff;
				font-size: 13px;
				line-height: 17px;

			}
			.publish {
				color: #fff;
				display: inline-block;
				float: left;
				margin: 0 25px 25px 0;
				width: calc(50% - 25px);

				dt {
					color: #698b8f;
				}
				dd {
					p {
						a {
							background: #475658;
							border-radius: 2px;
							color: #fff;
							display: inline-block;
							padding: 3px 8px;

							&:hover {
								background: $blue;
							}
						}
					}
				}
			}
			.actions {
				color: #fff;
				display: inline-block;
				float: left;
				margin: 0 25px 25px 0;
				width: calc(50% - 25px);
				li {
					a {
						color: #fff;
					}
				}
			}
			.error {
				color: #698b8f;
				display: inline-block;
				padding: 4px 0;

				&:hover {
					color: #fff;
				}
			}
			hr {
				border: 0;
				background: #628185;
				clear: both;
				height: 1px;
				margin: 0 0 50px;
			}
		}

		.video-highlight {
			.thumb {
				display: block;
				margin: 0 0 20px;
				position: relative;

				i {
					background: rgba(0,175,240,.5);
					border: solid 2px #6ac0e1;
					border-radius: 8px;
					color: #fff;
					display: block;
					font-size: 18px;
					height: 40px;
					left: 15px;
					padding: 8px 0 0 2px;
					position: absolute;
					text-align: center;
					bottom: 15px;
					z-index: 10;
					width: 40px;
				}

			}
			span {
				color: #fff;
				font-size: 21px;
				line-height: 24px;
			}

			&:hover {
				img {
					opacity: 0.6;
				}
			}
		}

		.videos-highlight-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {

				margin: 0 0 25px;
				a {

					display: block;
					clear: both;

					.thumb {
						display: block;
						position: relative;

						small {
							background: rgba(0,0,0,0.5);
							bottom: 5px;
							color: #fff;
							display: inline-block;
							font-size: 11px;
							left: 5px;
							line-height: 11px;
							padding: 3px 5px;
							position: absolute;
							z-index: 10;
						}
					}
					span {
						color: #fff;
						font-size: 13px;
						line-height: 16px;
					}
				}
			}
		}
	}

	.video-list {
		display: block;;
		margin: 0 0 50px;

		dt {
			border-left: solid 7px $blue;
			color: $default;
			margin: 0 0 18px;
			padding: 0 0 0 20px;
			text-transform: uppercase;

			a {
				border: solid 1px $blue;
				border-radius: 2px;
				color: $blue;
				display: inline-block;
				float: right;
				font-size: 10px;
				line-height: 10px;
				padding: 5px;

				&:hover {
					background: $blue;
					color: #fff;
				}
			}
		}

		dd {
			.owl-carousel-videos-list {
				list-style: none;
				margin: 0;
				padding: 0;

				.item {
					display: inline-block;
					float: left;
					margin: 0 25px 0 0;
					width: calc( 20% - 25px);

					a {
						display: block;
						clear: both;

						.thumb {
							background: #fff;
							border: solid 2px #fff;
							display: block;
							padding: 3px;
							position: relative;
							margin: 0 0 10px;

							small {
								background: rgba(0,0,0,0.5);
								bottom: 5px;
								color: #fff;
								display: inline-block;
								font-size: 11px;
								left: 5px;
								line-height: 11px;
								padding: 3px 5px;
								position: absolute;
								z-index: 10;
							}


						}
						span {
							color: $default;
							font-size: 14px;
							line-height: 17px;
						}

						&:hover {
							.thumb {
								border-color: $blue;
							}
						}
					}

				}
			}

			&:after {
				display: table;
				content: " ";
				clear: both;
			}
		}
	}

	hr {
		border: 0;
		background: #eee;
		height: 1px;
		margin: 0 0 50px
	}
}

.page-form {
	padding: 70px 0;

	header {

		margin: 0 0 25px;

		p {
			font-size: 16px;
			line-height: 24px;
		}
	}

	form {

		h6 {
			display: block;
			font-size: 16px;

			span {
				background: $blue;
				border-radius: 11px;
				color: #fff;
				display: inline-block;
				font-size: 14px;
				line-height: 22px;
				margin-right: 10px;
				height: 22px;
				text-align: center;
				width: 22px;
			}
		}
		fieldset {
			background: #eaeaea;
			border-radius: 2px;
			margin: 0 0 40px;
			padding: 30px 30px 5px;

			p {
				margin: 0 0 30px;
				position: relative;
			}

			label {
				display: block;
				font-size: 13px;
				line-height: 13px;
				margin: 0 0 5px;
			}
			input[type=text],
			input[type=email],
			input[type=tel] {
				border-radius: 20px;
				border: solid 1px #dedede;
				font-size: 15px;
				font-style: italic;
				height: 40px;
				line-height: 40px;
				padding: 0 20px;
				position: relative;
				width: 60%;

				&:focus {
					border-color: $blue;
					color: $default;
					font-size: 17px;
					font-style: normal;
				}

				&.error {
					background: url(../images/inner/input-error.png) right top no-repeat #fff;
					border-color: #f56782;
				}
			}
			textarea {
				border-radius: 20px;
				border: solid 1px #dedede;
				font-size: 15px;
				font-style: italic;
				height: 120px;
				line-height: 40px;
				padding: 0 20px;
				resize: none;
				width: 90%;

				&.error {
					border-color: #f56782;
				}

				&:focus {
					border-color: $blue;
					color: $default;
					font-size: 17px;
					font-style: normal;

				}
			}
			span.error {
				color: #f56782;
				display: block;
				margin: 10px 0 0;
			}

			.editorias {

				list-style: none;
				margin: 0;
				padding: 0;

				li {
					border-radius: 3px;
					cursor: pointer;
					display: inline-block;
					float: left;
					margin: 0 10px 4px;
					padding: 10px 20px;
					position: relative;
					width: calc( 50% - 20px);

					input[type=checkbox] {
						margin-right: 10px;
					}

					&:hover,
					&.selected {
						background: $blue;
						color: #fff;

					}

					&.selected {
						input[type=checkbox] {
							opacity: 0;
						}

						&:before {
							color: #fff;
							content:  "\f00d";
							font-family: 'FontAwesome';
							left: 21px;
							position: absolute;
							top: 10px;
							z-index: 10;

						}
					}

					&:last-child {
						&:after {
							display: table;
							content: " ";
							clear: both;
						}
					}
				}

			}

		}

		.required {
			color: #f22656;
			display: block;
			font-size: 14px;
			margin: 0 0 30px;
		}

		.btn {
			background: $blue;
			color: #fff;
			display: block;
			font-size: 14px;
			margin-bottom: 20px;
			padding: 18px 30px;
			text-transform: uppercase;

			&:disabled {
				background: #eaeaea;
				color: #bcbcbc;
			}
		}

		.confirm {
			display: block;
			margin: 35px 0 0;

				button {
					float: left;
					margin-right: 50px;
				}

				a {
					color: $blue;
					display: inline-block;
					padding: 18px 0;
				}

			&.disable {

				button {
					background: #f22656;
				}
			}
		}
	}

	aside {
		dl {
			dt {
				border-left: solid 7px $blue;
				font-size: 14px;
				line-height: normal;
				margin: 0 0 30px;
				padding: 0 0 0 15px;
				position: relative;
				text-transform: uppercase;

			}
			dd {

				p {

					margin: 0 0 30px;

					a {
						color: $green-1;
					}
				}

				ul {

					list-style: none;
					margin: 0;
					padding: 0;

					li {
						margin: 0 0 30px;

						strong {
							display: block;
							font-size: 20px;

						}
					}
				}

				iframe {
					margin: 0 0 10px;
				}
			}
		}
	}
}

.page-404 {
	.content {
		padding: 90px 0;

		p {
			color: #39494b;
			font-size: 20px;
			line-height: 26px;
			margin: 0 auto 50px;
			max-width: 540px;

			.img-responsive {
				margin: 0 auto;
			}
		}

		.btn {
			color: #fff;
			background: $blue;
			padding: 15px 30px;
			text-transform: uppercase;
		}

	}
}



/* Share */
.share{

	display: block;
	margin: 0 0 25px;

	&:after {
		display: table;
		content: " ";
		clear: both;
	}

	a {
		background: none;
		border-radius: 18px;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		float: left;
		height: 38px;
		line-height: 36px;
		margin: 0 6px 7px 0;
		min-width: 38px;
		padding: 0 0 0 36px;
		position: relative;
		text-align: center;

		span {
			font-family: $proxima;
			font-size: 13px;
			float: left;
			padding: 0 20px 0 0;
		}

		&.fa-facebook{
				background-color: #3367a1;
		}
		&.fa-twitter{
			background-color: #00aeef;
		}
		&.fa-google-plus{
			background-color: #e15440;
		}
		&.fa-linkedin{
			background-color: #0077b5;
		}
		&.fa-envelope{
			background-color: #b3b3b3;
		}
		&.error {
			color: #b2b2b2;
			font-size: 12px;
			padding: 0;

			&:hover {
				color: $blue;
			}
		}

		&:hover{
			color: #fff;
			opacity: 0.7;
		}
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 38px;
			text-align: center;
		}

		&:last-child {

			&:after{
				display: table;
				content: " ";
				clear: both;
			}
		}
	}
}

@media (max-width: 480px) {

	.share{

		text-align: center;

		a {
			display: inline-block;
			border-radius: 3px;
			padding: 0;

			&:before {

				position: relative;
			}

			span {
				display: none;
			}
		}
	}
}


//Galeria
.page-gallery {
	padding: 50px 0 0;

	.gallery-highlight {
		background: $default;
		margin: 0 15px 60px;
		padding: 35px 20px;

		h3 {
			border-left: solid 7px $blue;
			color: #fff;
			font-size: 19px;
			margin: 0 0 18px 15px;
			padding: 0 0 0 15px;
			text-transform: uppercase;
		}

		.galeria-highlight-first {
			position: relative;

			a {
				display: block;
				position: relative;

				span {
					background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0));
					bottom: 0;
					color: #fff;
					font-size: 29px;
					line-height: 32px;
					left: 0;
					padding: 20px;
					position: absolute;
					width: 100%;
					z-index: 10;
				}

				img {
					position: relative;
				}

				&:hover {
					img {
						opacity: 0.6;
					}
				}
			}
		}

		.galeria-highlight-second {
			padding: 0;

			a {
				display: block;
				position: relative;
				margin: 0 0 20px;

				span {
					color: #fff;
					display: block;
					font-size: 13px;
					line-height: 15px;
					min-height: 50px;
				}

				img {
					position: relative;
					margin: 0 0 10px;
				}

				&:hover {

					span {
						text-decoration: underline;
					}

					img {
						opacity: 0.6;
					}
				}
			}
		}
	}

	.gallery-mont {
		display: block;;
		margin: 0 0 50px;

		dt {
			border-left: solid 7px $blue;
			color: $default;
			margin: 0 0 18px;
			padding: 0 0 0 20px;
			text-transform: uppercase;

			a {
				border: solid 1px $blue;
				border-radius: 2px;
				color: $blue;
				display: inline-block;
				float: right;
				font-size: 10px;
				line-height: 10px;
				padding: 5px;

				&:hover {
					background: $blue;
					color: #fff;
				}
			}
		}

		dd {

			&:after {
				display: table;
				content: " ";
				clear: both;
			}
			ul {

				list-style: none;
				padding: 0;

				li {

					display: inline-block;
					float: left;
					width: 25%;

					a {
						display: block;
						position: relative;

						img {
							position: relative;
							transition: all linear 0.2s;

							&:hover {

								transform: scale(1.1);
								box-shadow: 0 0 15px rgba(0, 0, 0, .3);
								z-index: 1;

							}
						}
					}

				}
			}
		}
	}

	.gallery-show {

		background: $default;
		margin: 0 15px;
		padding: 35px 20px 0;

		h1 {
			color: #fff;
			font-size: 27px;
			line-height: 28px;
			margin: 0 0 30px;
		}

		.btn {
			border: solid 1px #fff;
			color: #fff;
			float: right;

			&:after {
				clear: both;
				content: " ";
				display: table;

			}

			&:hover {
				background: $blue;
				border-color: $blue;
				color: #fff;
			}
		}

		.publish {
			color: #fff;
			dt {
				color: #698b8f;
			}
		}

	}

	.gallery-slide {

		margin-bottom: 30px;

		.item {
			padding: 0;
			color: #FFF;

			h6 {
				display: block;
				font-size: 14px;
				margin: 5px 0 0;
			}
		}
	}

	.gallery-thumbs {
		margin-bottom: 40px;

		.item {
			border: solid 2px $default;
			margin: 5px;
			cursor: pointer;
			padding: 2px;
		}
		.current .item{
			border-color: $blue;
		}
	}

	.owl-theme {
		.owl-nav {
			/*default owl-theme theme reset .disabled:hover links */
			[class*='owl-'] {
				transition: all .3s ease;
				&.disabled:hover {
				background-color: #D6D6D6;
				}
			}
		}
	}

	//arrows on first carousel
	.gallery-slide.owl-theme {
		position: relative;
			.owl-next, .owl-prev {
				background: #1f2a2b;
				color: #fff;
				width: 40px;
				height: 60px;
				margin-top: -30px;
				position: absolute;
				text-align: center;
				top: 50%;

				i {
					font-size: 36px;
					line-height: 60px;
				}

				&:hover {
					background: $blue;
				}
			}
	  .owl-prev {
		left: -40px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	  }
	  .owl-next {
		right: -40px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	  }
	}
}