// Colors

$default: #324345;
$bgmenu: #30575c;
$bgmobile: #f5f9fa;

$text-50: #a8a8a8;
$text-negative-1: #ebebeb;
$text-negative-2: #fff;

$bg-1: #ebeddf;
$bg-2: #dfe2c9;


$blue: #00aeef;
$green-1: #068833;
$green-2: #44ad4b;
$gred: #f22656;

// Fonts
$proxima: 'Proxima Nova Rg', sans-serif;
$oswald: 'Oswald', sans-serif;
